.product-container {
    position: relative;
    .product-filter {
        position: absolute;
        // top: 0;
        left: 0;
        right: 0;
        bottom: 35px;
        z-index: 100;
    }
}
