.product-banner {
  background: linear-gradient(135deg, #08a30a 1%, #607d8b 100%);
  position: relative;
  width: 100%;
  min-height: 70vh;
  padding-left: 1rem;
  padding-right: 1rem;

  .product-content {
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.01);
    border-radius: 4px;
  }
  .product-banner-text {
    text-align: center;
  }
  .product-column {
    order: -1;
  }
  .product-banner-carousel .slick-list .slick-track .slick-slide {
    & > div {
      height: 250px;
      width: 250px;
      margin: 0 auto;
    }
  }
  .product-banner-photo {
    margin: 0 auto;
    box-shadow: none !important;
    div {
      height: 220px;
      width: 220px;
      background: #fff;
      border-radius: 20px;
      margin: 0 20px;
      transition: all ease 0.2s;
      transform: translateY(10px);

      img {
        object-fit: cover;
        aspect-ratio: 1/1;
        width: inherit;
        height: inherit;
        border-radius: 20px;
      }
    }
    .box {
      box-shadow: 0px 5px 10px 0px rgba(96, 125, 139, 0.5);
      // color: rgb(96, 125, 139);
    }
    .box:hover {
      transform: translateY(-10px);
      box-shadow: 0px 10px 20px 2px rgba(96, 125, 139, 0.25);
    }
  }

  //
  border: 25px solid #fff;
}

.product-banner-2 {
  position: relative;
  width: 100%; /* Set width of the card to 65vh */
  height: 60vh; /* Set height of the card to 65vh */
  overflow: hidden; /* Ensure the image doesn't overflow the card */
  border-radius: 0 !important;
  border: 15px solid #fff;
  background: linear-gradient(135deg, #08a30a 1%, #607d8b 100%);
}

.product-banner-2 img {
  width: 100%; /* Ensure the image takes the full width of the container */
  height: 100%; /* Ensure the image takes the full height of the container */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Cover the entire width of the card */
  height: 100%; /* Cover the entire height of the card */
  background: rgba(10, 24, 10, 0.4);
  z-index: 1; /* Ensure the overlay is above the image */
}

@media screen and (min-width: 768px) {
  .product-banner {
    .product-banner-text {
      text-align: left;
    }
    .product-column {
      order: 2;
    }
    padding: 0 3rem;
  }

  .product-banner-2 {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 991px) {
  .product-banner {
    .product-column {
      order: 2;
    }
    padding: 0 8rem;
  }
}
