.hexagon-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .hexagon {
    width: 200px;
    height: 115px;
    background-color: #64c7cc;
    position: relative;
    margin: 29px 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    // overflow: hidden;
  }
  
  .hexagon::before,
  .hexagon::after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
  }
  
  .hexagon::before {
    top: -57.5px;
    border-bottom: 57.5px solid #64c7cc;
  }
  
  .hexagon::after {
    bottom: -57.5px;
    border-top: 57.5px solid #64c7cc;
  }
  
  .hexagon img {
    width: calc(100% + 2px);
    height: auto;
    margin-top: -20%;
    z-index: -1;
  }
  
  .hexagon-text {
    position: absolute;
    z-index: 1;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0 10px;
  }
  