.page-banner {
  background: linear-gradient(135deg, #08a30a 1%, #607d8b 100%);
  position: relative;
  width: 100%;
  min-height: 65vh;
  padding-left: 1rem;
  padding-right: 1rem;

  .page-content {
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.01);
    border-radius: 4px;
  }
  .page-banner-text {
    text-align: center;
  }
  .page-column {
    order: -1;
  }
  .page-banner-carousel .slick-list .slick-track .slick-slide {
    & > div {
      height: 250px;
      width: 250px;
      margin: 0 auto;
    }
  }

  .page-banner-photo {
    margin: 0 auto;
    // box-shadow: none !important;
    box-shadow: none !important;
    div {
      height: 220px;
      width: 220px;
      background: #fff;
      border-radius: 20px;
      margin: 0 20px;
      transition: all ease 0.2s;
      transform: translateY(10px);

      img {
        object-fit: cover;
        aspect-ratio: 1/1;
        width: inherit;
        height: inherit;
        border-radius: 20px;
      }
    }
    .box {
      box-shadow: 0px 5px 10px 0px rgba(96, 125, 139, 0.5);
      // color: rgb(96, 125, 139);
    }
    .box:hover {
      transform: translateY(-5px);
      box-shadow: 0px 10px 20px 2px rgba(96, 125, 139, 0.25);
    }
  }

  border: 25px solid #fff;
}

@media screen and (min-width: 768px) {
  .page-banner {
    .page-banner-text {
      text-align: left;
    }
    .page-column {
      order: 2;
    }
    padding: 0 3rem;
  }
}

@media screen and (min-width: 991px) {
  .page-banner {
    .page-column {
      order: 2;
    }
    padding: 0 8rem;
  }
}
