.appointment-marker {
  position: absolute;
  top: 0;
  right: 3px;
  background-color: #cbf7cb;
  border-radius: 50%;
  // background-color: rgb(220, 173, 246); /* Example background color */
  border-radius: 50%; /* Example border radius */
  padding: 3px 6px; /* Example padding */
  color: #941c50; 
  font-weight: bold;
}
