.review-card {
  box-sizing: border-box;

  img {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 106px;
    top: 24px;

    //   background: url(.png);
    border-radius: 1000px;
  }
}
