/* 
hero
---- 
*/
.heroBlock {
  background: url("../../../public/images/kylee-alons-suQ-D-9dmVU-unsplash.jpg")
    no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.heroBlock .container-fluid {
  display: block !important;
}
.heroBlock .app-hero-carousel {
  z-index: 2;
}
.heroBlock .overlay {
  background-color: rgb(243, 243, 243, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.heroBlock .ant-carousel,
.heroBlock .ant-carousel div {
  height: 100%;
}

.heroBlock .slick-dots li button {
  background: #941c50 !important;
}

.heroBlock .slick-dots li.slick-active button {
  background: #317610 !important;
}

.heroBlock .content {
  max-width: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.5rem 70px;
}

.heroBlock .overlay .gallery {
  display: none;
}
.heroBlock h1 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 30px;
  color: #102f01;
}

.heroBlock p {
  margin: 0 0 30px;
  font-size: 16px;
}

.heroBlock .btnHolder {
  height: auto !important;
}

.heroBlock .btnHolder button,
.heroBlock .btnHolder .fas {
  margin: 0 10px 0 0;
}

#hero {
  padding: 0 1rem;
}

@media screen and (min-width: 767px) {
  #hero {
    padding: 0 5rem;
  }
  .heroBlock h1 {
    font-size: 40px;
  }
}

@media screen and (min-width: 991px) {
  #hero {
    padding: 0 8rem;
  }
  .heroBlock h1 {
    font-size: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .heroBlock .overlay .gallery {
    display: block;
    position: absolute;
    right: 100px;
    top: 180px;

    --s: 360px;
    --g: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    // box-shadow: 5px 5px 20px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

    width: 400px;
    & > img {
      width: var(--s);
      height: var(--g);
      aspect-ratio: 1.15;
      object-fit: cover;
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    }
  }
}
