.gallery {
  --s: 360px;
  --g: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  // box-shadow: 5px 5px 20px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

  width: 400px;
  & > img {
    width: var(--s);
    height: var(--g);
    aspect-ratio: 1.15;
    object-fit: cover;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  }
}

//tweet
.combined-wrapper {
  padding: 2rem 0 !important;
  background: linear-gradient(135deg, #08a30a 1%, #607d8b 100%);
  position: relative;
  width: 100%;
}

.combined {
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .content {
    padding: 20px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
  }
}
.combined-shape {
  position: relative;
}
.combined-shape > * {
  width: 50%;
  height: 64px;
  position: absolute;
  overflow: hidden;
}
.combined-shape > * > * {
  width: 100%;
  height: 100%;
  // background: #fff;
}
.combined-shape .shape-left {
  left: 0;
}
.combined-shape .shape-right {
  right: 0;
}

.combined-bar {
  width: 100%;
  height: 1.5px;
  background: #fff;
  position: absolute;
  // top: 70px;
  right: 0;
  left: 0;
}
.rc-texty_title {
  color: #022902;
  font-weight: bold;
  font-size: 58px;
  letter-spacing: 8px !important;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sub-header {
  font-size: 25px;
}
@media screen and (min-width: 768px) {
  .banner__text {
    margin-top: auto;
  }

  .banner__text .ant-typography {
    font-size: 40px;
    line-height: 1.5;
  }

  .gallery {
    // fix overflow
    margin-top: auto;
  }

  .combined-wrapper {
    padding: 7.5rem 0 !important;
  }

  .combined {
    .content {
      padding: 50px;
    }
  }

  .sub-header {
    font-weight: bold;
  }
}
