.checkout-container {
  .checkout-form {
    background: #fff;
    padding: 0.6rem 3rem;

    .momo-grid {
      margin-bottom: 1rem;

      .momo-card:hover {
        .ant-card-body {
          background: rgba(53, 165, 55, 0.4);
        }
        // border-bottom: 1px solid rgb(8, 163, 10);
      }
    }
  }

  .checkout-summary {
    padding: 0.6rem 3rem;
  }
}

@media screen and (min-width: 768px) {
  .checkout-container {
    .checkout-form {
      padding: 1.5rem 5.5rem;
    }
  }
}

@media screen and (min-width: 991px) {
  .checkout-container {
    .checkout-form {
      padding: 1rem 8.5rem;
    }
  }
}
