@import url("../../styles/utils/utils.scss");
.app-shell-sidebar_hide {
  display: none;
}
.app-shell-baricon {
  display: inline-block;
}

.ant-layout-sider-trigger {
  background: #fff !important;
  color: #2980b9 !important;

  &:hover {
    background: #c4dcec !important;
  }
}

.app-footer {
  // margin-top: 2rem;
  // padding: 5.5rem 2rem 0 2rem !important;
  background: linear-gradient(135deg, #d6efd6 1%, #97c482 100%) !important;
  // position: relative;
  // width: 100%;
}

@media screen and (min-width: 767px) {
  .app-shell-sidebar_hide {
    display: block;
  }
  .app-shell-baricon {
    display: none;
  }
}
